.header-nav nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: #2E86C4;
  color: white;
  padding: 0 2em;
}

.header-nav nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  gap: 0.5em;
}

.header-nav nav ul div {
  display: flex;
  justify-content: space-around;
  font-size: 0.85em;
  align-items: center;
}

.header-nav nav li {
  padding: 0 0.3em;
  font-weight: 200;
  color: white;
  cursor: pointer;
}

/* .material-icons {
  color: white;
} */

/* @media only screen and (min-width: 768px) {
  .header-nav {
    width: 90%;
  }

  .header-nav nav li {
    padding: 0 0.5em;
  }
} */