.signup-container, .login-container {
  padding: 4em 1em 1em 1em;
  width: 500px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 500px rgba(0, 0, 0, 0.386);
}

.signup-container input, .login-container input {
  width: 300px;
}

.signup-container button, .login-container  button {
  width: 300px;
  margin-top: 1em;
}

.signup-container h2, .login-container h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-container .material-icons, .login-container .material-icons {
  margin-left: auto;
  padding-top: 1.5em;
  cursor: pointer;
  color: #2e86c459;
}